body {
  background-color: beige;
}

#box,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

#box {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 3px solid black;
  margin-right: 30px;
  position: relative;
}

.ball {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
}

input,
button {
  padding: 5px;
}

input {
  width: 150px;
}

#playAgainButton {
  display: none;
}
