body {
    background-color: beige;
}

#box,
#controlPanel {
    display: inline-block;
    vertical-align: top;
}

#box {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 3px solid black;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.ball {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
}

.guessInput {
    margin-bottom: 15px;
}

#submitGuess {
    margin-top: 10px;
    margin-bottom: 25px;
}

.result {
    display: none;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 22px;
}

#playAgain {
    display: none;
    margin-top: 3px;
}

button {
    font-size: 21px;
    padding: 8px;
}

label,
input {
    display: inline-block;
    vertical-align: middle;
}

label {
    width: 50px;
}

input {
    width: 79px;
    padding: 5px;
}
